body{
    font-family: 'Roboto Slab', serif;
    color: #4e5f6f;   
}
.bg{
    background-size: cover;
    background-image: url('../img/background.jpg');
    background-position: center;
}
.container{
    overflow: hidden;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top:3%;
    width: 450px;
    height: 650px;
    background-color: white;
    position: relative;
}
.cover{
    top: 0;
    left: 0;
    position: relative;
    height: 45%;
    position: static;
    z-index: 1;
}
.profile{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 200px;
    height: 200px;
    z-index: 10;
    border-radius: 100%;
}
.user-name{
    text-align: center;
    margin-top: 12%;
}
.about-me{
    text-align: justify;
    padding: 10px;
}
.social-media ul{

}
.social-media li{
    text-align: center;
    display: inline-block;
    list-style: none;
    margin-top: 10px;
    margin-left: 17%;
}
.social-media a{
    text-decoration: none;
    color: #4e5f6f;
}
.icons{
    margin-right: 10px;
}
.follower-num{
    border: 1px solid #dedfe0;
    width: 100%;
    text-align: center;
    background-color: #f8f9f9;
}
.button{
    background-color: #64bc7f;
    width: 100%;
    height: 100%;
}
.button a{
    position: relative;
    top: 20px;
    text-decoration: none;
    margin-left:40%;
    color: white;
}
